.search-form {
	margin: 0;
	padding: 18px 15px;
	width: 100%;
	@media (min-width: 768px) {
		width: 50%;
		}
	
	.search-field {		
		border: 0;
		border-bottom: 1px solid $search-field-border;
		color: $search-field-text;
		background: none;
		font-size: 16px;
		padding: 5px 0;
		width: 90%;
		display: inline-block;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
	   color: $search-field-placeholder;
		}

	}
}

.search-submit {
	display: inline-block; position: relative; top: 10px;
	background: none;
	border: none;
	width: 20px; height: 20px;
	display: inline-block;
	outline: none;
	i {
		&:hover {
			color: $search-submit-hover;
		}
		display: block;
		color: $search-submit;
		text-align: left;
		&:before {
			position: relative; top: -4px;
			font-size: 25px;
			}
		}
	}