.section-site-desc {
	border-top: solid 2px $section-site-desc-border; border-bottom: solid 2px $section-site-desc-border;
	
	padding: 45px 78px; margin-bottom: 25px;
	color: $section-site-desc-text;
	.__title {
		font-size: 27px;
		font-family: 'Leckerli One', cursive;
		color: $section-site-desc-title;
		margin-bottom: 12px;
		}
}