@import "elements/tag-list";

.section-tags {
	padding-top: 20px;
	padding-bottom: 20px;
	background: $section-tags-bg;
	.__title {
		text-align: center;
		margin-bottom: 20px;
		color: $section-tags-title;
		}
	}