.section-footer {
	padding-top: 20px;
	padding-bottom: 17px;
	background: $section-footer-bg;
	color: $section-footer-text;
	a {
		color: $section-footer-text;
		text-decoration: underline;
		&:hover {
			color: $section-footer-text-hover;
			}
		}
	&__footer-cats {
		margin-right: 20px;
		}
	&__copyright {
		margin-right: 20px;
		color: $copyright-color;
		}
	&__sites a {
		display: inline-block;
		margin-right: 5px;
		}
	&__socials a {
		text-decoration: none;
		}

	&__socials i:before {
		font-size: 15px;
		color: $socials-color;
		}
	
	&__socials a:hover i:before {
		font-size: 15px;
		color: $socials-color-hover;
		}
	}