@import "elements/tag-list";

.section-tags {
	padding-top: 20px;
	padding-bottom: 20px;
	background: $section-tags-bg;
	.__title {
		text-align: center;
		margin-bottom: 20px;
		color: $section-tags-title;
		}
	}

.section-tags.-v2 {
	padding-top: 60px;
	}

.section-tags.-v2  .__title {
	font-size: 24px;
	margin-bottom: 25px;
	}