.section-breadcrumb {
	margin-bottom: 10px;
	.__title {
		font-size: 18px;
		color: #383737;
		font-weight: 700;
		margin-right: 40px;
	}
	.__path {
		padding: 3px 0 0 0;
	}
	.__back {
		font-size: 14px;
		vertical-align: middle;
		padding: 3px 0 0 0;
	}
}