.section-site-desc {
	border-top: solid 2px #dee2e7; border-bottom: solid 2px #dee2e7;
	padding: 45px 78px; margin-bottom: 25px;
	color: #b4bbc2;
	.__title {
		font-size: 27px;
		font-family: 'Leckerli One', cursive;
		color: #65abd0;
		margin-bottom: 12px;
		}
}