$default-color: #333;
$default-link: #61CDD8;
$default-link-hover: transparentize($default-link, 0.5);
$default-bg: #fff;
$default-title: $default-color;
// Nav
$bg-topbar: #00A1B0;
$bg-navbar-toggle: #006972;
$logo-color: #006972;
$navbar-menu-color: #006972;
$navbar-menu-color-hover: #217C84;
// Nav__Search
$search-field-text: #006972;
$search-field-border: #006972;
$search-field-placeholder: #006972;
$search-submit: #006972;
$search-submit-hover: #217C84;
// Language
$language-container-bullet: #00A1B0;
$language-container-bg: #006972;
$language-container-links: #36CAD8;
//Nav__Breadcrumb
$breadcrumb-title: #61CDD8;
// CatDesc
$catdesc: #333;
// SectionSite
$section-site-desc-title: #65abd0;
$section-site-desc-border: #65abd0;
$section-site-desc-text: lighten($default-color, 30%);
// Grid
$item-desc-bg: rgba(0,63,69,0.6);
$grid-item-title-color: #69E878;
$time: #279D36;
$item-desc-cat__desc :#333;
// Pagination
$default-pagination: #65abd0;
$pagination-hover: #84bcd9;
$pagination-active: #c6ccd2;
// ItemTag
$itemtag: #fff;
$itemtag-bg: #69E878;
$itemtag-bg-hover: #2b4c5c;
// TagSection
$section-tags-bg: #006972;
$tag-title: #fff;
$tag-bg: #36CAD8;
$section-tags-title: #fff;
// Related
$section-related-title: $default-title;
// Footer
$section-footer-bg: #00A1B0;
$section-footer-text: #fff;
$section-footer-text-hover: transparentize($section-footer-text, 0.5);
$copyright-color: #006972;
$socials-color: #006972;
$socials-color-hover: #fff;