$default-color: #383737;
$default-link: #337ab7;
// Nav
$bg-topbar: #65abd0;
$bg-navbar-toggle: #FFF;
$logo-color: #FFF;
$navbar-menu-color: #fff;
$navbar-menu-color-hover: #325568;
// Nav__Search
$search-field-text: #fff;
$search-field-border: #fff;
$search-field-placeholder: #fff;
$search-submit: #fff;
$search-submit-hover: #383737;
$language-container-bullet: #65abd0;
$language-container-bg: #5093b7;
$language-container-links: #fff;
//Nav__Breadcrumb
$breadcrumb-title: #383737;
// CatDesc
$catdesc: #b4bbc2;
// Grid
$item-desc-bg: rgba(55,55,55,0.6);
$grid-item-title-color: #fff;
$time: #bebebe;
$item-desc-cat__desc :#fff;
// Pagination
$pagination-hover: #84bcd9;
$pagination-active: #c6ccd2;
// ItemTag
$itemtag: #fff;
$itemtag-bg: #6d98af;
$itemtag-bg-hover: #2b4c5c;
// TagSection
$section-tags-bg: #f2f5f8;
$tag-title: #fff;
$tag-bg: #65abd0;
$section-tags-title: #383737;
// Footer
$section-footer-bg: #383737;
$section-footer-text: #fff;
$copyright-color: #666;
$socials-color: #666;
$socials-color-hover: #fff;