$default-color: #281A0F;
$default-link: #738E7B;
// Nav
$bg-topbar: #E9D7CD;
$gl-nav-color: #40454B;
$bg-navbar-toggle: $gl-nav-color;
$logo-color: $gl-nav-color;
$navbar-menu-color: $gl-nav-color;
$navbar-menu-color-hover: #738E7B;
// Nav__Search
$search-field-text: $gl-nav-color;
$search-field-border: $gl-nav-color;
$search-field-placeholder: $gl-nav-color;
$search-submit: $gl-nav-color;
$search-submit-hover: #738E7B;
$language-container-bullet: $bg-topbar;
$language-container-bg: #738E7B;
$language-container-links: #E9D7CD;
//Nav__Breadcrumb
$breadcrumb-title: #383737;
// CatDesc
$catdesc: $default-color;
// SectionSite
$section-site-desc-title: #383737;
// Grid
$item-desc-bg: rgba(0,0,0,0.6);
$grid-item-title-color: #E9D7CD;
$time: transparentize($grid-item-title-color, 0.5);
$item-desc-cat__desc :#fff;
// ItemTag
$itemtag: #fff;
$itemtag-bg: #738E7B;
$itemtag-bg-hover: #2b4c5c;
// Pagination
$pagination-hover: #84bcd9;
$pagination-active: #c6ccd2;
// TagSection
$section-tags-bg: #f2f5f8;
$tag-title: #383737;
$tag-bg: #E9D7CD;
$section-tags-title: #383737;
// Related
$section-related-title: #383737;
// Footer
$section-footer-bg: $bg-topbar;
$section-footer-text: #738E7B;
$copyright-color: $gl-nav-color;
$socials-color: $gl-nav-color;
$socials-color-hover: #738E7B;