$default-color: #333;
$default-link: #61CDD8;
// Nav
$bg-topbar: #00A1B0;
$bg-navbar-toggle: #006972;
$logo-color: #006972;
$navbar-menu-color: #006972;
$navbar-menu-color-hover: #217C84;
// Nav__Search
$search-field-text: #006972;
$search-field-border: #006972;
$search-field-placeholder: #006972;
$search-submit: #006972;
$search-submit-hover: #217C84;
// Language
$language-container-bullet: #00A1B0;
$language-container-bg: #006972;
$language-container-links: #36CAD8;
//Nav__Breadcrumb
$breadcrumb-title: #61CDD8;
// CatDesc
$catdesc: #333;
// Grid
$item-desc-bg: rgba(0,63,69,0.6);
$grid-item-title-color: #69E878;
$time: #279D36;
$item-desc-cat__desc :#333;
// Pagination
$pagination-hover: #3864DE;
$pagination-active: #6485DE;
// ItemTag
$itemtag: #fff;
$itemtag-bg: #69E878;
$itemtag-bg-hover: #2b4c5c;
// TagSection
$section-tags-bg: #006972;
$tag-title: #fff;
$tag-bg: #36CAD8;
$section-tags-title: #fff;
// Footer
$section-footer-bg: #00A1B0;
$section-footer-text: #fff;
$copyright-color: #006972;
$socials-color: #006972;
$socials-color-hover: #fff;