.grid-item {
	position: relative;
	min-height: 100px;
	margin-bottom: 15px;
	width: 300px;

	.item-desc {
		position: absolute; bottom: 0;
		display: block;
		@media (min-width: 768px) {
			display: none;
			}
		}

	&:hover .item-desc{
		display: block;
		}
	}

.section-grid.-v2 .item-desc {
	display: block;
	}