.grid-sites {
	margin-bottom: 30px;
	.__item {
		margin-bottom: 30px;
		&:hover .__grid-title a {
			text-decoration: underline;
			color: $default-link-hover;
			}
		}
	.__image {
		display: block;
		max-width: 100%;
		margin-bottom: 5px;
		}
	.__grid-title {
		font-size: 16px;
		text-align: center;
		}
	}