.item-desc {
	width: 100%;
	overflow: hidden;
	background: $item-desc-bg;
	padding: 13px;
	
	&.-cat .__title {
		font-size: 27px;
		}

	.__title {
		margin: 0;
		color: $grid-item-title-color;
		font-size: 16px;
		margin-bottom: 5px;		
		}

	.__title a {
		color: $grid-item-title-color;
		}

	.__time-added {
		color: $time;	
		margin-bottom: 5px;
		font-size: 12px;
		}
	}

.item-desc.-cat {
	text-align: right;
	}

	.item-desc-cat__desc {
		color: $item-desc-cat__desc;
		}