.language-menu {
	position: static !important;
	a {
		position: relative;
		}

	.language-list {
		margin-bottom: 15px;
		@media (max-width: 375px) {
			font-size: 11px;
			}
		}

	.bullet {
		display: none;
		position: absolute; z-index: 3; left: 50%; bottom: -5px; margin-left: -9px;
		width: 18px; height: 18px;
		background: #65abd0;
    transform: rotate(45deg);
		}

	.language-container {
		display: none;
		position: absolute; left: 0; z-index: 2; background: #5093b7;
		width: 100%;
		padding: 30px 0 30px 30px;
		font-size: 14px;
		a {
			color: #fff;
			}
		}

	&:hover{
		.bullet {
			display: block;
		}

		.language-container {
			display: block;
			}

		}
	}