.pagination {
	float: left;
	
	span, a {
		margin-right: 10px;
		font-size: 18px;
		color: $default-pagination;
		}

	a:hover {
		text-decoration: none;
		color: $pagination-hover;
		}

	.__active {
		color: $pagination-active;
		}
	}

.pagination.-right {
	float: right;
	span, a {
		margin-left: 10px;
		}
	}