.tag {
	display: inline-block;
	margin-bottom: 2px;
	background: $itemtag-bg;
	color: $itemtag;
	padding: 3px 5px;
	&:hover {
		color: $itemtag;
		background: $itemtag-bg-hover;
		text-decoration: none;
		}
	}